<header class="main-header">
  <div class="header-content">
    <span class="notification">
      <i class="material-icons" style="color:#a94442;vertical-align:middle;">notifications</i>
    </span>
    <span class="user">Test User</span>
  </div>
</header>
