<nav class="sidebar">
  <div class="sidebar-header">
    <span class="sidebar-title">MovieMate</span>
  </div>
  <ul class="sidebar-nav">
  <li><a href="/dashboard"><i class="material-icons">dashboard</i> Dashboard</a></li>
  <li><a href="/klantbeheer"><i class="material-icons">people</i> Klantbeheer</a></li>
  <li><a href="/filmbeheer"><i class="material-icons">movie</i> Filmbeheer</a></li>
  <li><a href="/verhuurregistratie"><i class="material-icons">assignment</i> Verhuurregistratie</a></li>
  <li><a href="/about"><i class="material-icons">info</i> About</a></li>
  </ul>
</nav>