<nav class="sidebar">
  <div class="sidebar-header header-color">
    <span class="sidebar-title">MovieMate</span>
  </div>
  <ul class="sidebar-nav">
  <li><a href="/dashboard"><i class="material-icons">dashboard</i> Dashboard</a></li>
  <% if (user) { %>
    <li><a href="/clientManagement"><i class="material-icons">people</i> Clients</a></li>
    <li><a href="/movieManagement"><i class="material-icons">movie</i> Movies</a></li>
    <li><a href="/rentalManagement"><i class="material-icons">assignment</i> Rentals</a></li>
  <% } %>
  <li><a href="/about"><i class="material-icons">info</i> About</a></li>
  </ul>
</nav>