<section class="client-card">
  <div class="d-flex justify-content-center align-items-center mb-4 gap-3 flex-wrap">
    <input type="search" class="form-control searchbar" 
           id="datatable-search-input" 
           placeholder="Klantnaam">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-user-plus me-2"></i> Klant toevoegen
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered client-table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Email</th>
          <th>Actief</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Tiger Nixon</td><td>System Architect</td><td>Edinburgh</td><td>2011/04/25</td></tr>
        <tr><td>Sonya Frost</td><td>Software Engineer</td><td>Edinburgh</td><td>2008/12/13</td></tr>
        <tr><td>Jena Gaines</td><td>Office Manager</td><td>London</td><td>2008/12/19</td></tr>
        <tr><td>Quinn Flynn</td><td>Support Lead</td><td>Edinburgh</td><td>2013/03/03</td></tr>
        <tr><td>Charde Marshall</td><td>Regional Director</td><td>San Francisco</td><td>2008/10/16</td></tr>
        <tr><td>Haley Kennedy</td><td>Senior Marketing Designer</td><td>London</td><td>2012/12/18</td></tr>
        <tr><td>Tatyana Fitzpatrick</td><td>Regional Director</td><td>London</td><td>2010/03/17</td></tr>
        <tr><td>Michael Silva</td><td>Marketing Designer</td><td>London</td><td>2012/11/27</td></tr>
        <tr><td>Paul Byrd</td><td>Chief Financial Officer (CFO)</td><td>New York</td><td>2010/06/09</td></tr>
        <tr><td>Gloria Little</td><td>Systems Administrator</td><td>New York</td><td>2009/04/10</td></tr>
      </tbody>
    </table>
  </div>
</section>